$primaryGreen: #014e56;
$primaryCoral: #f67e7e;
$primaryWhite: #ffffff;
$secondaryLightBlue: #76c8c7;
$secondaryDarkBlue: #2c6269;
$secondaryDeepGreen: #004047;
$secondarySacramentoGreen: #012f34;
$secondaryDarkGreen: #002529;
