@import "../styles/base-styles.scss/variables.scss";
@import "../styles/base-styles.scss/mixins.scss";

.container {
  background-color: $primaryCoral;
  position: relative;
}

.pattern {
  position: absolute;
  left: -20px;
  bottom: 0;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.wrapper {
  justify-content: space-between;
  align-items: center;
  padding: 30px 200px;
  display: flex;

  @media screen and (max-width: 768px) {
    padding: 30px 100px;
  }

  @media screen and (max-width: 420px) {
    padding: 30px;
    text-align: center;
    flex-direction: column;
  }

  h2 {
    color: $secondarySacramentoGreen;
    font-style: normal;
    font-weight: bold;
    line-height: 48px;
    font-size: 48px;
  }
}
