@import "./base-styles.scss/variables.scss";
@import "./base-styles.scss/mixins.scss";

.hero {
  background-color: $primaryGreen;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  height: 84vh;

  .pattern {
    position: absolute;
    left: -130px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .pattern_two {
    position: absolute;
    bottom: -10px;
    right: 130px;

    @media screen and (max-width: 420px) {
      width: 100%;
      right: 0;
    }
  }

  .text {
    @include grid(56% 36%, 6%);
    align-items: center;
    padding: 0 130px;

    @media screen and (max-width: 768px) {
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 0 100px;
    }

    @media screen and (max-width: 420px) {
      padding: 0 30px;
    }

    h1 {
      color: $primaryWhite;
      line-height: 90px;
      font-size: 90px;
      margin: 0;

      @media screen and (max-width: 420px) {
        font-size: 40px;
        line-height: 40px;
      }

      span {
        color: $primaryCoral;
      }
    }

    .rhs {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .line {
        background-color: $primaryCoral;
        width: 50px;
        height: 4px;
        margin: 0;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      p {
        color: $primaryWhite;
        line-height: 28px;
        font-weight: 600;
        font-size: 16px;
        width: 100%;
      }
    }
  }
}

.sectionOne {
  background-color: $secondarySacramentoGreen;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  height: 100vh;

  .pattern_three {
    position: absolute;
    right: 0;
    bottom: 0;

    @media screen and (max-width: 768px) {
      top: 0;
    }
  }

  .wrapper {
    padding: 0 130px;

    @media screen and (max-width: 768px) {
      padding: 0 100px;
    }

    @media screen and (max-width: 420px) {
      padding: 0 30px;
    }

    .line {
      background-color: $primaryCoral;
      width: 50px;
      height: 4px;
      margin: 0 0 10vh 0;

      @media screen and (max-width: 420px) {
        margin-bottom: 5vh;
      }
    }

    .text {
      @include grid(46% 46%, 6%);
      align-items: center;

      @media screen and (max-width: 768px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }

      .lhs {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        h2 {
          color: $primaryWhite;
          line-height: 48px;
          font-size: 48px;
          margin: 0;

          @media screen and (max-width: 768px) {
            margin-bottom: 5vh;
          }

          @media screen and (max-width: 420px) {
            font-size: 32px;
            line-height: 32px;
            padding-right: 110px;
          }
        }
      }

      .rhs {
        .item {
          display: flex;
          align-items: center;
          margin-bottom: 3vh;

          img {
            margin-right: 20px;
            width: 50px;
          }

          .content {
            .title {
              color: $primaryCoral;
              font-style: normal;
              font-weight: bold;
              line-height: 28px;
              font-size: 16px;
              margin: 5px 0 0;
            }

            .description {
              color: $primaryWhite;
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 25px;
              mix-blend-mode: normal;
              opacity: 0.8;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.sectionTwo {
  background-color: $secondaryDeepGreen;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: flex;
  height: 100vh;

  @media screen and (max-width: 768px) {
    padding: 150px 0;
    height: unset;
  }

  .pattern_four {
    position: absolute;
    left: 0;
    top: 0;
  }

  .pattern_five {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &_wrapper {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 130px;
    display: flex;

    @media screen and (max-width: 768px) {
      padding: 0 30px;
    }
  }

  h2 {
    color: $primaryWhite;
    text-align: center;
    line-height: 48px;
    font-size: 38px;
    width: 730px;
    margin: 0;

    @media screen and (max-width: 768px) {
      width: 550px;
    }

    @media screen and (max-width: 420px) {
      width: unset;
      font-size: 29px;
      line-height: 29px;
    }

    span {
      color: $secondaryLightBlue;
    }
  }

  .testimonials {
    @include grid(30% 30% 30%, 3%);
    margin-top: 20vh;

    @media screen and (max-width: 768px) {
      @include grid(100%, null);
      row-gap: 10vh;
      margin-top: 10vh;
      // padding: 0 50px;
    }

    .testimonial,
    .clientInfo {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .testimonial {
      .reviewWrapper {
        flex-direction: column;
        align-items: center;
        position: relative;
        display: flex;

        .quote {
          position: absolute;
          top: -30px;
        }

        .review {
          color: $primaryWhite;
          position: relative;
          font-style: normal;
          text-align: center;
          line-height: 25px;
          font-weight: 600;
          font-size: 14px;
          margin: 0 0 3vh;

          @media screen and (max-width: 768px) {
            width: 450px;
          }

          @media screen and (max-width: 420px) {
            width: unset;
          }
        }
      }
    }

    .clientInfo {
      .name {
        color: $secondaryLightBlue;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        margin: 0;
      }

      .job {
        color: $primaryWhite;
        font-style: italic;
        text-align: center;
        line-height: 18px;
        font-weight: 500;
        font-size: 13px;
        margin: 0;
      }

      .client {
        border: 3px solid $secondaryLightBlue;
        border-radius: 100%;
        margin-top: 3vh;
        height: 40px;
        width: 40px;

        @media screen and (max-width: 768px) {
          margin-top: 1vh;
        }
      }
    }
  }
}
